body{
  background-color: lightgrey;
}
.content{
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}
.table{
  width: 100%;
  border-collapse: collapse
}
td, th{
  padding: 5px;
  text-align: center;
}
.wrap_l{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_text{
  display: flex;
  flex-wrap: wrap;
}
.wrap_text span{
  width: 100%;  
}
.logo{
  width: 100%;
}